<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Confirmation prolongation</title>

    <link rel="stylesheet" type="text/css"
          href="http://localhost:8080/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>

</head>

<body>

<div layout:fragment="content">

    <h1>Le prêt a bien été prolongé pour une durée de 4 semaines</h1>

    <a th:href="@{/}">Revenir à l'accueil</a>

</div>

</body>

</html>