<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"/>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

<head>
    <meta charset="UTF-8">
    <title>Layout</title>
</head>


<header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/}">Bibliothèque</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">

            <ul class="navbar-nav mr-auto">

                <th:block th:if="${session.user == null}">

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/livres}">Livres disponibles</a>
                    </li>

                    <form th:action="@{/search}" class="form-inline my-2 my-lg-0">
                        <input name="keyword" id="searchBarre" class="form-control mr-md-2"
                               style="width: 300px" type="search" placeholder="Rechercher un livre" aria-label="Search">
                        <button  class="btn btn-primary" type="submit">Search</button>
                    </form>

                    <li><p>' '</p></li>

                    <form th:action="@{/login}" class="form-inline my-2 my-lg-0">
                        <button  class="btn btn-primary" type="submit">Connectez-vous</button>
                    </form>

                    <li><p>' '</p></li>

                    <form th:action="@{/addmembre}" class="form-inline my-2 my-lg-0">
                        <button  class="btn btn-primary" type="submit">Nouveau compte</button>
                    </form>


                </th:block>


                <th:block th:if="${session.user != null}">

                    <form th:action="@{/search}" class="form-inline my-2 my-lg-0">
                        <input name="keyword" id="searchBarre2" class="form-control mr-md-2"
                               style="width: 300px" type="search" placeholder="Rechercher un livre" aria-label="Search">
                        <button  class="btn btn-primary" type="submit">Search</button>
                    </form>

                    <li class="nav-item"><a class="nav-link" th:href="@{/livres}">Livres disponibles</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">Mon compte</a>
                        <div class="dropdown-menu" x-placement="bottom-start"
                             style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
                            <a class="dropdown-item" th:href="@{/detail-membre(compteId=${session.user.getId()})}">Mes informations</a>
                            <a class="dropdown-item" th:href="@{/deleteAccount(compteId=${session.user.getId()})}">Supprimer le compte</a>
                            <a class="dropdown-item" th:href="@{/logout}">Déconnexion</a>

                        </div>
                    </li>

                </th:block>

            </ul>
        </div>


    </nav>


</header>

<body>


<section layout:fragment = "content">

</section>

</body>

<footer class="navbar-fixed-bottom">

    <hr/>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

</footer>



</html>