<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>MicroLibrary</title>

    <link rel="stylesheet" type="text/css"
          href="http://localhost:8080/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>

</head>

<body>

<div layout:fragment="content">


    <div class="container-fluid">


        <div class="row">
            <div class="col col-md-10">

                <div class="table-responsive">


                    <table class="table table-hover table-border">

                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Auteur</th>
                            <th>Genre</th>
                            <th>Résumé</th>
                        </tr>
                        </thead>


                <td th:text="${livre.titre}" class="font-weight-bold"></td>

                <td th:text="${livre.auteur}"></td>

                <td th:text="${livre.genre}"></td>

                <td th:text="${livre.resume}"></td>


                <div class="row">
                    <div class="col col-md-5">
                        <td><img id="imageDetail" th:src="@{'/img/' + ${livre.getUrlPhoto()}}"></td>
                    </div>

                </div>

                    </table>



                <th:block th:if="${exemplairesDispo.size()!=0 && session.user != null}">
                    <td>
                        <p>Vous pouvez emprunter ce livre pour une durée de 4 semaines (durée prolongeable de 4 semaines supplémentaires).</p>
                        <p><a class="btn btn-outline-primary" href="#" th:href="@{/addEmprunt(exemplaireId=${exemplaire.getId()}, compteId=${session.user.getId()})}">Emprunter ce livre</a></p>
                    </td>
                </th:block>


                <script type="text/javascript" src="http://localhost:8080/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

            </div>

        </div>

    </div>

    </div>

</div>

</body>

</html>