<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>MicroLibrary</title>

    <link rel="stylesheet" type="text/css"
          href="http://localhost:8080/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>

</head>

<body>

<div layout:fragment="content">


    <div class="container">

        <div class="row">

            <div class="col-md-12" th:if="${session.user != null}">

                <h3>Mes informations</h3>

                <p th:text="${session.user.nom} + ' '+ ${session.user.prenom}"></p>
                <p th:text="'Adresse mail : ' + ${session.user.adresseMail}"></p>
                <p th:text="'Adresse : ' + ${session.user.adresse} + ' '+ ${session.user.codePostal} + ' ' + ${session.user.ville}"></p>
                <p th:text="'Téléphone : ' + ${session.user.telephone}"></p>

                <h3>Mes emprunts</h3>


                <div class="table-responsive">


                    <table class="table table-hover table-border">

                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Auteur</th>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                            <th>Prolonger le prêt</th>
                        </tr>
                        </thead>


                        <th:block th:each="livre:${listeLivres}">

                            <th:block th:each="exemplaire: ${livre.getListeExemplaires()}">

                                <th:block th:each="emprunt:${exemplaire.getListeEmprunts()}">

                                    <tbody>

                                    <tr>

                                        <td th:text="${livre.titre}"></td>
                                        <td th:text="${livre.auteur}"></td>
                                        <td th:text="${dateFormat.format(dateFormat.parse(emprunt.getDateDebut().toString()))}"></td>
                                        <td th:text="${dateFormat.format(dateFormat.parse(emprunt.getDateFin().toString()))}"></td>

                                        <th:block th:if="${!emprunt.isProlongation()}">
                                        <td>
                                            <p><a class="btn btn-outline-primary" href="#" th:href="@{/prolongation(empruntId=${emprunt.getId()})}">PROLONGER</a></p>
                                        </td>
                                        </th:block>

                                        <th:block th:if="${emprunt.isProlongation()}">
                                            <td>
                                                <p>Le prêt pour ce livre à déjà été prolongé</p>
                                            </td>
                                        </th:block>
                                    </tr>

                                    </tbody>

                                </th:block>

                            </th:block>

                        </th:block>

                    </table>
                </div>

            </div>

        </div>

    </div>

    <script type="text/javascript"
            src="http://localhost:8080/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</div>

</body>

</html>